.stop-head-title {
  border: 1px solid #ADADAD;
    border-radius: 4px;
    color: #fff;
    background-color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.stop-head {
  border: 3px solid #ADADAD;
    border-radius: 4px;
    color: #4A4C54;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btnstart {
    border: 1px solid #ADADAD;
    border-radius: 4px;
    color: #4A4C54;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btnreset {
    border: 1px solid #ADADAD;
    border-radius: 4px;
    color: #4A4C54;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#timeup {
   border: 3px solid #ADADAD;
    border-radius: 4px;
    color: #4A4C54;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#timedown {
   border: 3px solid #ADADAD;
    border-radius: 4px;
    color: #4A4C54;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

